@model IEnumerable<SecureShare.WebApi.Wrapper.Models.UserFile>
<link rel="stylesheet" href="~/css/dashboard.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container-fluid">
    <div class="row">
      <!--  @await Html.PartialAsync("_SidebarPartial")-->
        @await Html.PartialAsync("_SideNav")

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="row ">
                <div class="col-md-6"><h2>My files</h2></div>
                <div class="col-md-6 ">
                    <div class="btn-group " role="group" style="float:right;">
                        <button type="button" id="list" class="btn btn-secondary btn-sm" style="background-color:transparent; border:none;"><i class="material-icons" style="color:#123274;">list</i></button>
                        <button type="button" id="grid" class="btn btn-secondary btn-sm" style="background-color:transparent; border:none;"><i class="material-icons" style="color:#123274;">grid_on</i></button>
                    </div>
                </div>


            </div>
            <div class="table-responsive lijst">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File name</th>
                            <th>Description</th>
                            <th>Uploaded</th>
                            <th>Dowload</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model)
                        {
                            <tr>
                                <td>@file.UserFileId</td>
                                <td>@file.FileName</td>
                                <td>@file.Description</td>
                                <td>@file.UploadDateTime</td>
                                <td><a asp-controller="PrivateUser" asp-action="DownloadFile" asp-route-id="@file.UserFileId">Download</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row item" style="overflow-y:scroll; height:500px; display: flex; display:none">

                @foreach (var file in Model)
    {
            <div class="card" id="items" style=" width:150px; height: 170px; ">

                <div class="card-body" id="txt" style="overflow:hidden; text-overflow:ellipsis;">
                    @file.FileName.ToString();

                </div>

                <!--File infortmation details-->
                <div class="overlays">
                    <div class="text">

                        <div>@file.UploadDateTime</div>
                        <div class="mt-2">
                            <a asp-controller="PrivateUser" asp-action="DownloadFile" asp-route-id="@file.UserFileId"><i class="material-icons align-middle ml-2" style="color:white; ">file_download</i></a>
                            <a asp-controller="PrivateUser" asp-action="#" asp-route-id="@file.UserFileId"><i class="material-icons align-middle ml-2" style="color:white; ">supervisor_account</i></a>
                            <a asp-controller="PrivateUser" asp-action="#" asp-route-id="@file.UserFileId"><i class="material-icons align-middle ml-2" style="color:white; ">delete</i></a>
                        </div>

                    </div>
                </div>
            </div>


}
            </div>
        </main>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#list").click(function () {
            $(".item").hide();
            $(".lijst").show();
        });
        $("#grid").click(function () {
            $(".item").show();
            $(".lijst").hide();
        });
    });
</script>

