@model IEnumerable<SecureShare.WebApi.Wrapper.Models.UserFile>
@{
    Layout = "_DashboardLayout";
}


<h2>My files @User.Claims.Single(e => e.Type.Equals("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")).Value</h2>
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>File name</th>
            <th>Uploaded</th>
            <th>shared with</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@file.UploadDateTime</td>
                <td>
                @foreach (var user in @file.SharedWith)
                {
                    @user.User.DisplayName
                }
                </td>
                @*<td>
                    <a asp-controller="PrivateUser" asp-action="ShareFileWithUser" asp-route-id="@file.UserFileId">Share</a>
                </td>
                <td>
                    <a asp-controller="PrivateUser" asp-action="DownloadFile" asp-route-id="@file.UserFileId">Download</a>
                </td>
                <td>
                    <a asp-controller="PrivateUser" asp-action="DeleteFile" asp-route-id="@file.UserFileId">Delete</a>
                </td>*@
                <td>
                    <!-- Default dropleft button -->
                    <div class="btn-group dropleft" style="display:block">
                        <span type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="display:block" >
                            <i class="fas fa-ellipsis-h"></i>
                        </span>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="PrivateUser" asp-action="DownloadFile" asp-route-id="@file.UserFileId"><i class="fas fa-download"></i> Download</a>
                            <a class="dropdown-item" asp-controller="PrivateUser" asp-action="ShareFileWithUser" asp-route-id="@file.UserFileId"><i class="fas fa-share"></i> Share</a>
                            <a class="dropdown-item" asp-controller="PrivateUser" asp-action="DeleteFile" asp-route-id="@file.UserFileId"><i class="fas fa-trash-alt"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>